@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "tin-can-hill";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0.003 247.858);
  --color-base-300: oklch(90% 0.0049 247.858);
  /* oklch(95% 0.003 247.858); */
  --color-base-content: oklch(29.59% 0.0163 280.34);
  --color-primary: oklch(61.92% 0.1091 144.47);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(75.12% 0.1187 237.23);
  --color-secondary-content: oklch(36.69% 0.029 307.59);
  --color-accent: oklch(80.72% 0.1353 77.62);
  --color-accent-content: oklch(41% 0.112 45.904);
  --color-neutral: oklch(29.59% 0.0163 280.34);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(56.87% 0.1565 286.87);
  --color-info-content: oklch(28% 0.141 291.089);
  --color-success: oklch(75.8% 0.1133 150.84);
  --color-success-content: oklch(30.5% 0.0349 147.71);
  --color-warning: oklch(64.42% 0.169 331.59);
  --color-warning-content: oklch(28% 0.109 3.907);
  --color-error: oklch(36.5% 0.119 29.47);
  --color-error-content: oklch(94% 0.03 12.58);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


/* themes: emerald --default; */

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-[Englebert] uppercase;
  }
  
  h1 {
    @apply text-4xl font-bold;
    @apply pb-5;
  }

  h2 {
    @apply text-4xl font-bold;
    @apply pb-5;
  }

  h3 {
    @apply text-2xl;
    @apply pb-4;
  }

  h4 {
    @apply text-xl;
    @apply pb-2;
  }

  p {
    @apply pb-3;
  }

  p, span, div, li {
    @apply font-[Architects_Daughter];
  }
  
  button, .btn {
    @apply font-[Architects_Daughter] uppercase;
  }

  section {
    @apply px-8 max-w-6xl mx-0;
    @apply py-4 mb-20;
    @apply min-w-screen 
  }
 
  .font-mono {
    @apply !font-[Englebert] uppercase;
  }
  
  .timeline-start {
    @apply mx-2;
  }

  .logo {
    @apply font-[Englebert] uppercase;
    @apply text-xl font-bold uppercase;
  }

  .grid-template {
    @apply grid grid-cols-12 gap-6 px-8 
  }

  .slick-prev,
  .slick-next {
    @apply lg:h-6 md:h-5 h-2;
    @apply -translate-y-[50%];
  }

  .slick-next {
    @apply lg:-right-9! md:-right-6! hidden;
  }

  .slick-prev {
    @apply lg:-left-9! md:-left-6! hidden;
  }

  .slick-prev:before,
  .slick-next:before {
    @apply hidden;
  }

  .slick-slide {
    @apply overflow-hidden;
    @apply max-w-full;
  }

  .slick-track {
    @apply flex;
    @apply overflow-hidden;
  }
}